body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.player-container {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
}

.player {
    border: none;
    border-radius: 15px;
    padding: 0.4rem;
    font-size: 25px;
}

input {
    text-align: center;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0.8rem;
    height: 53px;
}

.gameboard-container {
    display: flex;
    justify-content: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 200px;
    border: 2px solid black;
    border-collapse: collapse;
}

.disable {
    pointer-events:none

}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#reset {
    font-size: 45px;
    padding: 5px;
    border: 4px solid black;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}