body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 200px;
    border: 2px solid black;
    border-collapse: collapse;
}